*{
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}
.hero{
	height: 100vh;
	width: 100%;
	background-image: url(val.png);
	background-size: cover;
	background-position: center;
}
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 8%;
	padding-right: 8%;
}
.logo{
	color: white;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
}
span{
	color: darkred;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px 25px;
}
nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}
nav ul li a:hover{
	color:darkred;
	transition: .4s;
}
.btn{
	background-color: darkred;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 20px;
	transition: transform .4s;
}
.btn:hover{
	transform: scale(1.2);
}
.content{
	position: absolute;
	top: 50%;
	left: 8%;
	transform: translateY(-50%);
}
.about{
	width: 40%;
	padding: 100px 0px;
	
}
.about img{
	height: 400	px;
	width: 430px;
	margin-left: 30px;
}
.about-text{
	width: 550px;
}
.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about-text h2{
	color: white;
	font-size: 70px;
	text-transform: capitalize;
	margin-bottom: 20px;
	margin-left: 20px;
}
.about-text h5{
	color: white;
	letter-spacing: 2px;
	font-size: 18px;
	margin-bottom: 25px;
	text-transform: capitalize;
	margin-left: 20px;
}